@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --cor-de-fundo: rgb(243, 184, 132);
    --cor-de-fundo-2: rgb(148, 222, 225);
    --cor-de-fundo-3: rgb(0, 0, 0);
    --cor-de-fundo-4: rgb(2, 39, 32);
    --cor-de-texto: rgb(255, 255, 255);
    --cor-de-texto-2: rgb(0, 0, 0);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modo-1 {
    background-image: radial-gradient(circle, var(--cor-de-fundo), var(--cor-de-fundo-2));
    color: var(--cor-de-fundo-2);
}
.modo-2 {
    background-image: radial-gradient(circle, var(--cor-de-fundo-3), var(--cor-de-fundo-4));
    color: var(--cor-de-texto);
}
.modo-1 button {
    background-color: rgba(0, 0, 0, 0.442);
    color: var(--cor-de-texto);
    border: 1px solid var(--cor-de-texto);
    padding: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.modo-2 button {
    background-color: rgba(255, 255, 255, 0.442);
    color: var(--cor-de-texto-2);
    border: 1px solid var(--cor-de-texto-2);
    padding: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.modo-1 button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--cor-de-texto);
    border: 1px solid var(--cor-de-texto);
}
.modo-2 button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--cor-de-texto-2);
    border: 1px solid var(--cor-de-texto-2);
}
.modo-3 {
    background-image: radial-gradient(circle, rgb(251, 251, 135), rgb(24, 85, 109));
    color: var(--cor-de-texto);
}
.modo-3 button {
    background-color: rgba(255, 255, 255, 0.442);
    color: var(--cor-de-texto-2);
    border: 1px solid var(--cor-de-texto-2);
    padding: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
button {
    border-radius: 10px;
    height: 10vh;
    width: 10vw;
    margin: 30vh auto;
}
div#autor {
    font-size: 16px;
    text-decoration: none;
    margin: auto;
    width: 13vw;
    font-style: italic;
    color: var(--cor-de-texto-2);
    background-color: rgba(255, 255, 255, 0.179);
    border-radius: 5px;
    border: 1px solid var(--cor-de-texto);
    text-align: center;
    margin-top: 20px;
}
div#autor a {
    font-size: 16px;
    text-decoration: none;
    color: var(--cor-de-texto-2);
}
div#autor a:hover {
    color: var(--cor-de-texto);
}
div#autor p {
    font-size: 16px;
    margin: 5px;
}