@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --cor-de-fundo: rgb(243, 184, 132);
    --cor-de-fundo-2: rgb(27, 57, 70);
    --cor-de-texto: rgb(255, 255, 255);
    --cor-de-texto-2: rgb(0, 0, 0);
}
body {
    color: var(--cor-de-texto);
    background-image: radial-gradient(circle, var(--cor-de-fundo), var(--cor-de-fundo-2));
}
h1 {
    text-align: center;
    font-size: 3em;
    color: var(--cor-de-texto);
    text-shadow: 2px 2px 2px var(--cor-de-fundo-2);
}
input {
    color: var(--cor-de-texto);
    width: 25%;
    background-color: rgba(0, 0, 0, 0.341);
    color: var(--cor-de-texto);
    border-radius: 5px;
    border: 3px solid var(--cor-de-texto);
    padding: 5px;
    margin: 5px;
}
::placeholder {
    color: var(--cor-de-texto);
}
button {
    background-color: var(--cor-de-fundo-2);
    color: var(--cor-de-texto);
    border-radius: 5px;
    border: 3px solid var(--cor-de-texto);
    padding: 5px;
    margin: 5px;
}div#calcular {
    background-color: rgba(255, 255, 255, 0.179);
    border-radius: 5px;
    border: 1px solid var(--cor-de-texto);
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
div#res {
    display: none;
    background-color: rgba(0, 255, 30, 0.112);
    border-radius: 5px;
    border: 1px solid var(--cor-de-texto);
    text-align: center;
    margin: 40px auto;
    width: 50%;
    padding: 10px;
}
p {
    color: var(--cor-de-texto-2);
}